{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
        <link rel="stylesheet" href="{% static 'css/make.css' %}">
		<script src="{% static 'js/jquery-1.12.3.js' %}"></script>
		<script src="{% static 'js/jquery.cookie.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'font/iconfont.css' %}"/>
		<script src="{% static 'js/ajax.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}"/>
		<script src="{% static 'js/detail1.js' %}"></script>
		<script src="{% static 'js/gouwucelidedongxi.js' %}"></script>

		<script>
			$(function(){
				var count = gouwuce();
				$(".nmb").html(count);
			})
		</script>
	</head>
	<body>
		<div id="hd">
			<div class="tp">
				<ul class="tp1">
					<li><a href="#">Hi~欢迎来到LOHO!</a></li>
					<li><a href="{% url 'mt:denglu' %}">[请登陆]</a></li>
					<li><a href="{% url 'mt:zhuce' %}">[注册]</a></li>
					<li><a href="#">收藏LOHO</a></li>
				</ul>
				<ul class="tp2">
					<li><a href="#">MY LOHO</a></li>
					<li><a href="#">我的订单</a></li>
					<li><a href="{% url 'mt:mycart' %}"><img class="img1" src="{% static 'img/购物车.png' %}" />购物车(<span style="color: red;" class="nmb">0</span>)</a></li>
					<li><a href="#">手机版</a></li>
					<li><a href="#"><img class="img2" src="{% static 'img/电话.png' %}" />400-8871920 (09:00-23:00)</a></li>
					<li><a href="#">
						<input class="tp-1" type="text"/><button class="tp-2" type="submit">搜索</button>
					</a></li>
				</ul>
			</div>
			
			<div class="td">
				<div class="td1">
					<div class="td-1">深圳站</div>
					<div class="td-2"><a href="#">(切换城市)</a></div>
					<div class="td-3"><a href="#">m 查看店铺</a></div>
				</div>
				<div class="td2">
					<div class="td-4"><a href="index.html"><img src="{% static 'img/logo.png' %}"></a></div>
				</div>
				<div class="td3">
					<div class="td-5"><a href="#"><img src="{% static 'img/1465203303405363.jpg' %}"/></a></div>
				</div>
			</div>
			
			<div class="tb">
				<div class="nav">
					<ul class="nav-1">
						<li><a href="{% url 'mt:index' %}">首页</a></li>
						<li><a href="#">新品上市</a></li>
						<li class="nav1-1"><a href="#">
							男款眼镜
						<!--公用部分	-->
							<div class="gy">
								<div class="gy-1">
									<div class="gy2-1 .clearfix">
										<h3 class="nk-10">系列</h3>
										<ul class="nk-11">	
											<li><a href="#">Mori</a></li>
											<li><a href="#">Divided</a></li>
											<li><a href="#">Black</a></li>
											<li><a href="#">Basic</a></li>
											<li><a href="#">Retro</a></li>
											<li><a href="#">Horm</a></li>
											<li><a href="#">fibre</a></li>
											<li><a href="#">Alpha</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1">
										<h3 class="nk-10">材质</h3>
										<ul class="nk-11">
											<li><a href="#">板材</a></li>
											<li><a href="#">金属</a></li>
											<li><a href="#">TR</a></li>
											<li><a href="#">塑钢</a></li>
											<li><a href="#">碳纤维</a></li>
											<li><a href="#">钛架</a></li>
											<li><a href="#">聚合物</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1">
										<h3 class="nk-10">大小</h3>
										<ul class="nk-11">
											<li><a href="#">小框</a></li>
											<li><a href="#">中框</a></li>
											<li><a href="#">大框</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1">
										<h3 class="nk-10">颜色</h3>
										<ul class="nk-11">
											<li><a href="#">黑色</a></li>
											<li><a href="#">咖啡色</a></li>
											<li><a href="#">绿色</a></li>
											<li><a href="#">蓝色</a></li>
											<li><a href="#">紫色</a></li>
											<li><a href="#">红色</a></li>
											<li><a href="#">金色</a></li>
											<li><a href="#">玳瑁色</a></li>
											<li><a href="#">灰色</a></li>
											<li><a href="#">黑白色系</a></li>
											<li><a href="#">彩色系</a></li>
											<li><a href="#">花纹系</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1" style="border: none;">
										<h3 class="nk-10">品牌</h3>
										<ul class="nk-11">
											<li><a href="#">HOLO</a></li>
										</ul>
									</div>
								</div>
								
								<div class="gy-2"><img src="{% static 'img/1502040870370642015.jpg' %}"/></div>
							</div>
						<!--结束	-->
						</a></li>
						<li class="nav1-2"><a href="#">
							女款眼镜
							<div class="gy">
								<div class="gy-1">
									<div class="gy2-1 .clearfix">
										<h3 class="nk-10">系列</h3>
										<ul class="nk-11">	
											<li><a href="#">Mori</a></li>
											<li><a href="#">Divided</a></li>
											<li><a href="#">Black</a></li>
											<li><a href="#">Basic</a></li>
											<li><a href="#">Retro</a></li>
											<li><a href="#">Horm</a></li>
											<li><a href="#">fibre</a></li>
											<li><a href="#">Alpha</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1">
										<h3 class="nk-10">材质</h3>
										<ul class="nk-11">
											<li><a href="#">板材</a></li>
											<li><a href="#">金属</a></li>
											<li><a href="#">TR</a></li>
											<li><a href="#">塑钢</a></li>
											<li><a href="#">碳纤维</a></li>
											<li><a href="#">钛架</a></li>
											<li><a href="#">聚合物</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1">
										<h3 class="nk-10">大小</h3>
										<ul class="nk-11">
											<li><a href="#">小框</a></li>
											<li><a href="#">中框</a></li>
											<li><a href="#">大框</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1">
										<h3 class="nk-10">颜色</h3>
										<ul class="nk-11">
											<li><a href="#">黑色</a></li>
											<li><a href="#">咖啡色</a></li>
											<li><a href="#">绿色</a></li>
											<li><a href="#">蓝色</a></li>
											<li><a href="#">紫色</a></li>
											<li><a href="#">红色</a></li>
											<li><a href="#">金色</a></li>
											<li><a href="#">玳瑁色</a></li>
											<li><a href="#">灰色</a></li>
											<li><a href="#">黑白色系</a></li>
											<li><a href="#">彩色系</a></li>
											<li><a href="#">花纹系</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1" style="border: none;">
										<h3 class="nk-10">品牌</h3>
										<ul class="nk-11">
											<li><a href="#">HOLO</a></li>
										</ul>
									</div>
								</div>
								
								<div class="gy-2"><img src="{% static 'img/1502040887409812332.jpg' %}"/></div>
							</div>
						</a></li>
						<li class="nav1-3"><a href="#">
							太阳眼镜
							<div class="gy">
								<div class="gy-1">

									<div class="gy2-1">
										<h3 class="nk-10">材质</h3>
										<ul class="nk-11">
											<li><a href="#">板材</a></li>
											<li><a href="#">金属</a></li>
											<li><a href="#">TR</a></li>
											<li><a href="#">塑钢</a></li>
											<li><a href="#">碳纤维</a></li>
											<li><a href="#">钛架</a></li>
											<li><a href="#">聚合物</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1">
										<h3 class="nk-10">大小</h3>
										<ul class="nk-11">
											<li><a href="#">小框</a></li>
											<li><a href="#">中框</a></li>
											<li><a href="#">大框</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1">
										<h3 class="nk-10">框型</h3>
										<ul class="nk-11">
											<li><a href="#">椭圆型</a></li>
											<li><a href="#">圆型</a></li>
											<li><a href="#">方型</a></li>	
										</ul>
									</div>
									<br />
									<div class="gy2-1" style="border: none;">
										<h3 class="nk-10">价格</h3>
										<ul class="nk-11">
											<li><a href="#">101~200</a></li>
											<li><a href="#">201~400</a></li>
											<li><a href="#">401~700</a></li>
											<li><a href="#">701~100</a></li>
										</ul>
									</div>
								</div>
								
								<div class="gy-2"><img src="{% static 'img/1502040899243918946.jpg' %}"/></div>
							</div>
						</a></li>
						<li class="nav1-4"><a href="#">
							儿童眼镜
							<div class="gy">
								<div class="gy-1">

									<div class="gy2-1">
										<h3 class="nk-10">功能</h3>
										<ul class="nk-11">
											<li><a href="#">儿童光学镜</a></li>
											<li><a href="#">儿童太阳镜</a></li>
										</ul>
									</div>
								
								</div>
								
								<div class="gy-2"><img src="{% static 'img/1500920532158062555.jpg' %}"/></div>
							</div>
						</a></li>
						<li class="nav1-5"><a href="#">
							功能眼镜
							<div class="gy">
								<div class="gy-1">

									<div class="gy2-1">
										<h3 class="nk-10">功能</h3>
										<ul class="nk-11">
											<li><a href="#">骑行镜</a></li>
											<li><a href="#">老花镜</a></li>
											<li><a href="#">成人防辐射镜</a></li>
											
										</ul>
									</div>
									
								</div>
								
								<div class="gy-2"><img src="{% static 'img/1500920498733152832.jpg' %}"/></div>
							</div>
						</a></li>
						<li class="nav1-6"><a href="#">
							品牌眼镜
							<div class="gy">
								<div class="gy-1">

									<div class="gy2-1">
										<h3 class="nk-10">品牌</h3>
										<ul class="nk-11">
											<li><a href="#">LOHO</a></li>
											<li><a href="#">ZEISS/蔡司</a></li>
											<li><a href="#">Essilor依视路</a></li>
											
										</ul>
									</div>
									<br />
									<div class="gy2-1">
										<h3 class="nk-10">折射率</h3>
										<ul class="nk-11">
											<li><a href="#">1.50</a></li>
											<li><a href="#">1.56</a></li>
											<li><a href="#">1.61</a></li>
											<li><a href="#">1.67</a></li>
											<li><a href="#">1.74</a></li>
											<li><a href="#">1.80</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1">
										<h3 class="nk-10">度数</h3>
										<ul class="nk-11">
											<li><a href="#">0~200度</a></li>
											<li><a href="#">0~600度</a></li>
											<li><a href="#">200~400度</a></li>
											<li><a href="#">400~600度</a></li>
											<li><a href="#">600度以上</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1" style="border: none;">
										<h3 class="nk-10">类型</h3>
										<ul class="nk-11">
											<li><a href="#">单光片</a></li>
											<li><a href="#">渐进多焦点镜片</a></li>
											<li><a href="#">染色镜片</a></li>
											<li><a href="#">变色镜片</a></li>
											<li><a href="#">抗疲劳镜片</a></li>
											<li><a href="#">防辐射镜片</a></li>
										</ul>
									</div>
								</div>
								
								<div class="gy-2"><img style="width: 210px; height: 210px;" src="{% static 'img/1482803949414410.jpg' %}"/></div>
							</div>
						</a></li>
						<li class="nav1-7"><a href="#">
							美瞳/隐形</a>
							<div class="gy">
								<div class="gy-1">

									<div class="gy2-1">
										<h3 class="nk-10">商品分类：</h3>
										<ul class="nk-11">
											<li><a href="#">透明隐形眼镜</a></li>
											<li><a href="#">彩色隐形眼镜</a></li>
											<li><a href="#">护理用品</a></li>
										
										</ul>
									</div>
									<br />
									<div class="gy2-1">
										<h3 class="nk-10">品牌</h3>
										<ul class="nk-11">
											<li><a href="#">博士伦</a></li>
											<li><a href="#">沙福隆</a></li>
											<li><a href="#">爱尔康</a></li>
											<li><a href="#">凯达</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1">
										<h3 class="nk-10">价格</h3>
										<ul class="nk-11">
											<li><a href="#"><49元</a></li>
											<li><a href="#">50~99元</a></li>
											
										</ul>
									</div>
									<br />
									<div class="gy2-1">
										<h3 class="nk-10">功能</h3>
										<ul class="nk-11">
											<li><a href="#">护理液</a></li>
											<li><a href="#">润眼液</a></li>
											<li><a href="#">护理配件</a></li>
											
										</ul>
									</div>
									<br />
									<div class="gy2-1" style="border: none;">
										<h3 class="nk-10">规格</h3>
										<ul class="nk-11">
											<li><a href="#">促销装</a></li>
											<li><a href="#">大瓶装(500ML)</a></li>
											<li><a href="#">中瓶装(≥250ML)</a></li>
											<li><a href="#">小瓶装(≤240ML)</a></li>
										</ul>
									</div>
								</div>
								
								<div class="gy-2"><img src="{% static 'img/1507482991013830024.jpg' %}"/></div>
							</div>
						</li>
					</ul>
					<div class="nav-2" style="background: red;">
						<a href="#">
							<img class="img3" src="{% static 'img/影院信息-3D眼镜.png' %}" />
							<span class="g-2">LOHO线下体验店</span>
						</a>
					</div>
				</div>	
			</div>
		</div>
		
		
		<div class="m-1">
			<a href="#">首页></a>
			<a href="#">眼镜></a>
			<a href="#">男款眼镜></a>
			 LOHO 光学镜架 金属 枪色金属+玳瑁色板材 复古款 GX9034-C2
		</div>
		
		<div class="k-1">
			<div class="k1-2">
				<div class="k2-1">
					<div class="k2-1-1">
						<img class="img1" style="width: 600px; height: 237px;" src="{% static 'img/detail img/G_1479874651263638870.jpg' %}" />
						<div style="display: none;" class="k211-1 makt-div"></div>
					</div>
					<div class="k2-1-2">
						<img class="img3" style=" position: relative; left: 0; top: 0; width: 900px; height: 600px;" src="{% static 'img/detail img/G_1479874651263638870.jpg'%}" />
					</div>
					<div class="k2-1-3">
						<ul class="k212-1">
							<li><img style="width: 162px; height: 65px;" src="{% static 'img/detail img/G_1479874651263638870.jpg' %}"</li>
							<li><img style="width: 162px; height: 65px;" src="{% static 'img/detail img/G_1480468559080233329.jpg' %}"</li>
							<li><img style="width: 162px; height: 65px;" src="{% static 'img/detail img/G_1480560734221768497.jpg' %}"</li>
						</ul>
					</div>
					<div class="k2-1-4">
						<div class="k214-1">
							<img src="{% static 'img/detail img/lohostore.jpg' %}" />
						</div>
						<div class="k214-2">
							<h3>体验店地址:</h3>
							<p>您可以到全国(239)家体验店免费验光 查看地图</p>
							<p>
								<span class="k214-2-1"></span>
								<span class="k214-2-1"></span>
								<span class="k214-2-1"></span>
								<span class="k214-2-1"></span>
								<span class="k214-2-1"></span>
								<span class="k214-2-1"></span>
							</p>
							<p>免费发送地址到手机</p>
						</div>
					</div>
				</div>
				<div class="k2-2">
					<div class="k2-2-1">
						<h2>LOHO 光学镜架 金属 枪色金属+玳瑁色板材 复古款 GX9034-C1</h2>
                        <hr>
					</div>
					<div class="k2-2-2">
						<ul class="a-1">

							<li><span>LOHO价：</span><span class="a1-1">￥ <em>591</em></span></li>
							<li>已售：150 副销售详情用户评价：(已有7人评价)</li>
							<li class="clearfix">
								<span class="a1-2">颜色</span>
								<span class="a1-2">
									<img style="width: 76px; height: 31px;" src="{% static 'img/detail img/G_1479874825882712598.jpg' %}" />
									<br />
									枪色
								</span>
								<span class="a1-2">
									<img style="width: 76px; height: 31px;" src="{% static 'img/detail img/G_1479874651263638870.jpg' %}" />
									<br />
									铜色金属+玳
									<br/>
									&nbsp; &nbsp; 瑁色板材
								</span>
							</li>
							<li>
								<span>数量</span>
                                <div class="bt-wrapper">
                            <span class="glyphicon glyphicon-minus" goodsid="{{ goods.id }}"></span>
                            <span class="num">
                                {% for cart in carts %}
                                    {% if cart.goods.id == goods.id %}
                                        {{ cart.number }}
                                    {% endif %}
                                {% endfor %}
                            </span>
                             <span class="glyphicon glyphicon-plus" goodsid="{{ goods.id }}"></span>
                        </div>
{#								<a class="a1-3" href="#">-</a>#}
{#								<input class="a1-4" type="number" value="1"/>#}
{#								<a class="a1-3" href="#">+</a>#}
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<span class="a1-5">在线咨询</span>
							</li>
						</ul>
						<div class="b-1 clearfix">
							<div class="b1-1">
								<a class="b11-1">
									<i style="font-size: 26px;" class="iconfont">&#xe611;</i>
									点击购买
								</a>
							</div>
							<div class="b1-2">♥ 免费预约直营店验光</div>
						</div>
					</div>

					<div class="k2-2-3">
						<p>PROMISE/服务承诺：</p>
						<p>01.线上线下同价&nbsp;&nbsp;&nbsp; 02.免费港式验光&nbsp;&nbsp;&nbsp; 03.7天退换</p>
						<p>04.终身免费保养</p>
						<p>本款产品在全国239家连锁店均有销售</p>
						<p>
							<i class="iconfont"></i>分享
							<i class="iconfont"></i>收藏商品
						</p>
					</div>
				</div>
			</div>

		<!--弹出框  开始-->
			<div class="tck" style="width: 500px; height: 200px; position: fixed; left: 30%; top: 30%; background: #fff; display: none;">
				<div style="width: 500px; height: 50px; background: #D3D3D3; ">
					<span style="font-size: 24px; padding-left: 20px;">提示</span>
					<a href="#"><i style="font-size: 34px; margin-left: 380px; color: black;" class="iconfont">&#xe601;</i></a>
				</div>
				<div style="width: 500px; height: 100px; font-size: 20px; padding-left: 20px; line-height: 100px; border-bottom: 1px solid black;">
					您购买的商品已添加到购物车，要去看看？
				</div>
				<div style="width: 500px; height: 50px; line-height: 300px; text-align: center; line-height: 30px;">
					<a href="mycart.html"><span style="width: 80px; height: 30px; margin-top: 10px; background: orange; display: inline-block; color: #fff;">确定</span></a>
					<span style="width: 80px; height: 30px; margin-top: 10px; background: greenyellow; display: inline-block; color: #fff;">取消</span>
				</div>
			</div>
		<!--结束-->


		</div>
		

			
