{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<link rel="stylesheet" href="{% static 'css/shouye.css' %}" />
		<link rel="stylesheet" href="{% static 'font/iconfont.css' %}" />
		<script src="{% static 'js/jquery-1.12.3.js' %}"></script>
		<script src="{% static 'js/ajax.js' %}"></script>
		<script src="{% static 'js/shouye.js' %}" type=""></script>
		<script src="{% static 'js/jquery.cookie.js' %}"></script>
		<script src="{% static 'js/gouwucelidedongxi.js' %}"></script>
        <script>
			$(function(){
				if($.cookie("cart")){
					var count = gouwuce();
					$(".nmb").html(count);
				}else{
					console.log("请先购物");
				}
			})
		</script>
<script>

$(function(){
	$.get("{% static 'json/shouye.json' %}", function(data){
	    var arr = data;
		for(var i=0; i<arr.length; i++){
			var obj = arr[i];
			// {#alert(obj.img);#}

			var li = $("<li></li>").appendTo("#list1");
			$("<img src="+"{% static '' %}"+obj.img+">").appendTo(li);
			var li2 = $("<li></li>").appendTo("#list2").html("0"+(i+1));

		}
		lunbo();

	});


	function lunbo(){
		var _ul1 = $("#list1");
		var _ul2 = $("#list2");
		var _li1 = $("#list1 li");
		var _li2 = $("#list2 li");

		//初始化显示第一张图
		_li1.eq(0).show().siblings().hide();

		//图片总数量
		var size = $("#list1 li").size(); //4

		//自动轮播
		var i = 0; //记录图片下标
		var timer = setInterval(function(){
			i++;
			move();
		}, 2000);

		//移动的函数
		function move(){

			//如果i超出了图片总数量
			if (i == size) {
				i = 0; //即将移动到2张图
			}

			if (i < 0) {
				i = size-2;
			}

			if (i >= size){
				i = 1;
			}

			//透明度切换到第i张图
			_li1.eq(i).stop().fadeIn().siblings().stop().fadeOut();

			//改变ul2的按钮状态
			_li2.eq(i).removeClass().addClass("active").siblings().removeClass("active");

		}


		//上一页
				$("#prev").click(function(){
					i--;
					move();
//					move2();
				})

				//下一页
				$("#next").click(function(){
					i++;
					move();
//					move2();
				})


		//li2上面的按钮
		_li2.hover(function(){
			var index = $(this).index();
			//console.log(index);
			i = index;
			move();
//			move2();
		});

		//移入box, 移出box
		$(".lunbo").hover(function(){
			//移入, 关闭定时器
			clearInterval(timer);
		},
		function(){
			//移出, 重新开启定时器
			timer = setInterval(function(){
				i++;
				move();
//				move2();
			}, 2000);
		})
	}



	var arr = [];
	$.get("json/mycart.json", function(data){
		var arr = data;

		for(var i=0; i<arr.length; i++){
			var obj = arr[i];

			$('<li><a href="#"><img src="'+obj.bigImg+'"/></a></li>').appendTo(".bt");

			$(".bt").on("click","li", function(){
				var index = $(this).index();
				var obj = arr[index]
				location.href = "detail.html?id="+obj.id;
			})
		}

	});


	$(window).scroll(function(){
		var gao = $(window).scrollTop()+$(window).height()*0.3

		$(".dingwei").animate({top:gao},30);
	})






});
</script>
	<body>
	<!--公用部分 开始-->
		<div id="hd">
			<div class="tp">
				<ul class="tp1">
					<li><a href="#">Hi~欢迎来到LOHO!</a></li>
					<li><a href="{% url 'mt:denglu' %}">[请登陆]</a></li>
					<li><a href="{% url 'mt:zhuce' %}">[注册]</a></li>
					<li><a href="#">收藏LOHO</a></li>
				</ul>
				<ul class="tp2">
					<li><a href="#">MY LOHO</a></li>
					<li><a href="#">我的订单</a></li>
					<li><a href="{% url 'mt:mycart' %}"><img class="img1" src="{% static 'img/购物车.png' %}" />购物车(<span style="color: red;" class="nmb">0</span>)</a></li>
					<li><a href="#">手机版</a></li>
					<li><a href="#"><img class="img2" src="{% static 'img/电话.png' %}" />400-8871920 (09:00-23:00)</a></li>
					<li><a href="#">
						<input class="tp-1" type="text"/><button class="tp-2" type="submit">搜索</button>
					</a></li>
				</ul>
			</div>

			<div class="td">
				<div class="td1">
					<div class="td-1">深圳站</div>
					<div class="td-2"><a href="#">(切换城市)</a></div>
					<div class="td-3"><a href="#">m 查看店铺</a></div>
				</div>
				<div class="td2">
					<div class="td-4"><a href="#"><img src="{% static 'img/logo.png' %}"></a></div>
				</div>
				<div class="td3">
					<div class="td-5"><a href="#"><img src="{% static 'img/1465203303405363.jpg' %}"/></a></div>
				</div>
			</div>

			<div class="tb">
				<div class="nav">
					<ul class="nav-1">
						<li><a href="#">首页</a></li>
						<li><a href="#">新品上市</a></li>
						<li class="nav1-1"><a href="#">
							男款眼镜
						<!--公用部分	-->
							<div class="gy">
								<div class="gy-1">
									<div class="gy2-1 .clearfix">
										<h3 class="nk-10">系列</h3>
										<ul class="nk-11">
											<li><a href="#">Mori</a></li>
											<li><a href="#">Divided</a></li>
											<li><a href="#">Black</a></li>
											<li><a href="#">Basic</a></li>
											<li><a href="#">Retro</a></li>
											<li><a href="#">Horm</a></li>
											<li><a href="#">fibre</a></li>
											<li><a href="#">Alpha</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1">
										<h3 class="nk-10">材质</h3>
										<ul class="nk-11">
											<li><a href="#">板材</a></li>
											<li><a href="#">金属</a></li>
											<li><a href="#">TR</a></li>
											<li><a href="#">塑钢</a></li>
											<li><a href="#">碳纤维</a></li>
											<li><a href="#">钛架</a></li>
											<li><a href="#">聚合物</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1">
										<h3 class="nk-10">大小</h3>
										<ul class="nk-11">
											<li><a href="#">小框</a></li>
											<li><a href="#">中框</a></li>
											<li><a href="#">大框</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1">
										<h3 class="nk-10">颜色</h3>
										<ul class="nk-11">
											<li><a href="#">黑色</a></li>
											<li><a href="#">咖啡色</a></li>
											<li><a href="#">绿色</a></li>
											<li><a href="#">蓝色</a></li>
											<li><a href="#">紫色</a></li>
											<li><a href="#">红色</a></li>
											<li><a href="#">金色</a></li>
											<li><a href="#">玳瑁色</a></li>
											<li><a href="#">灰色</a></li>
											<li><a href="#">黑白色系</a></li>
											<li><a href="#">彩色系</a></li>
											<li><a href="#">花纹系</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1" style="border: none;">
										<h3 class="nk-10">品牌</h3>
										<ul class="nk-11">
											<li><a href="#">HOLO</a></li>
										</ul>
									</div>
								</div>

								<div class="gy-2"><img src="{% static 'img/1502040870370642015.jpg' %}"/></div>
							</div>
						<!--结束	-->
						</a></li>
						<li class="nav1-2"><a href="#">
							女款眼镜
							<div class="gy">
								<div class="gy-1">
									<div class="gy2-1 .clearfix">
										<h3 class="nk-10">系列</h3>
										<ul class="nk-11">
											<li><a href="#">Mori</a></li>
											<li><a href="#">Divided</a></li>
											<li><a href="#">Black</a></li>
											<li><a href="#">Basic</a></li>
											<li><a href="#">Retro</a></li>
											<li><a href="#">Horm</a></li>
											<li><a href="#">fibre</a></li>
											<li><a href="#">Alpha</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1">
										<h3 class="nk-10">材质</h3>
										<ul class="nk-11">
											<li><a href="#">板材</a></li>
											<li><a href="#">金属</a></li>
											<li><a href="#">TR</a></li>
											<li><a href="#">塑钢</a></li>
											<li><a href="#">碳纤维</a></li>
											<li><a href="#">钛架</a></li>
											<li><a href="#">聚合物</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1">
										<h3 class="nk-10">大小</h3>
										<ul class="nk-11">
											<li><a href="#">小框</a></li>
											<li><a href="#">中框</a></li>
											<li><a href="#">大框</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1">
										<h3 class="nk-10">颜色</h3>
										<ul class="nk-11">
											<li><a href="#">黑色</a></li>
											<li><a href="#">咖啡色</a></li>
											<li><a href="#">绿色</a></li>
											<li><a href="#">蓝色</a></li>
											<li><a href="#">紫色</a></li>
											<li><a href="#">红色</a></li>
											<li><a href="#">金色</a></li>
											<li><a href="#">玳瑁色</a></li>
											<li><a href="#">灰色</a></li>
											<li><a href="#">黑白色系</a></li>
											<li><a href="#">彩色系</a></li>
											<li><a href="#">花纹系</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1" style="border: none;">
										<h3 class="nk-10">品牌</h3>
										<ul class="nk-11">
											<li><a href="#">HOLO</a></li>
										</ul>
									</div>
								</div>

								<div class="gy-2"><img src="{% static 'img/1502040887409812332.jpg'%}"/></div>
							</div>
						</a></li>
						<li class="nav1-3"><a href="#">
							太阳眼镜
							<div class="gy">
								<div class="gy-1">

									<div class="gy2-1">
										<h3 class="nk-10">材质</h3>
										<ul class="nk-11">
											<li><a href="#">板材</a></li>
											<li><a href="#">金属</a></li>
											<li><a href="#">TR</a></li>
											<li><a href="#">塑钢</a></li>
											<li><a href="#">碳纤维</a></li>
											<li><a href="#">钛架</a></li>
											<li><a href="#">聚合物</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1">
										<h3 class="nk-10">大小</h3>
										<ul class="nk-11">
											<li><a href="#">小框</a></li>
											<li><a href="#">中框</a></li>
											<li><a href="#">大框</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1">
										<h3 class="nk-10">框型</h3>
										<ul class="nk-11">
											<li><a href="#">椭圆型</a></li>
											<li><a href="#">圆型</a></li>
											<li><a href="#">方型</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1" style="border: none;">
										<h3 class="nk-10">价格</h3>
										<ul class="nk-11">
											<li><a href="#">101~200</a></li>
											<li><a href="#">201~400</a></li>
											<li><a href="#">401~700</a></li>
											<li><a href="#">701~100</a></li>
										</ul>
									</div>
								</div>

								<div class="gy-2"><img src="{% static 'img/1502040899243918946.jpg'%}"/></div>
							</div>
						</a></li>
						<li class="nav1-4"><a href="#">
							儿童眼镜
							<div class="gy">
								<div class="gy-1">

									<div class="gy2-1">
										<h3 class="nk-10">功能</h3>
										<ul class="nk-11">
											<li><a href="#">儿童光学镜</a></li>
											<li><a href="#">儿童太阳镜</a></li>
										</ul>
									</div>

								</div>

								<div class="gy-2"><img src="{% static 'img/1500920532158062555.jpg'%}"/></div>
							</div>
						</a></li>
						<li class="nav1-5"><a href="#">
							功能眼镜
							<div class="gy">
								<div class="gy-1">

									<div class="gy2-1">
										<h3 class="nk-10">功能</h3>
										<ul class="nk-11">
											<li><a href="#">骑行镜</a></li>
											<li><a href="#">老花镜</a></li>
											<li><a href="#">成人防辐射镜</a></li>

										</ul>
									</div>

								</div>

								<div class="gy-2"><img src="{% static 'img/1500920498733152832.jpg'%}"/></div>
							</div>
						</a></li>
						<li class="nav1-6"><a href="#">
							品牌眼镜
							<div class="gy">
								<div class="gy-1">

									<div class="gy2-1">
										<h3 class="nk-10">品牌</h3>
										<ul class="nk-11">
											<li><a href="#">LOHO</a></li>
											<li><a href="#">ZEISS/蔡司</a></li>
											<li><a href="#">Essilor依视路</a></li>

										</ul>
									</div>
									<br />
									<div class="gy2-1">
										<h3 class="nk-10">折射率</h3>
										<ul class="nk-11">
											<li><a href="#">1.50</a></li>
											<li><a href="#">1.56</a></li>
											<li><a href="#">1.61</a></li>
											<li><a href="#">1.67</a></li>
											<li><a href="#">1.74</a></li>
											<li><a href="#">1.80</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1">
										<h3 class="nk-10">度数</h3>
										<ul class="nk-11">
											<li><a href="#">0~200度</a></li>
											<li><a href="#">0~600度</a></li>
											<li><a href="#">200~400度</a></li>
											<li><a href="#">400~600度</a></li>
											<li><a href="#">600度以上</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1" style="border: none;">
										<h3 class="nk-10">类型</h3>
										<ul class="nk-11">
											<li><a href="#">单光片</a></li>
											<li><a href="#">渐进多焦点镜片</a></li>
											<li><a href="#">染色镜片</a></li>
											<li><a href="#">变色镜片</a></li>
											<li><a href="#">抗疲劳镜片</a></li>
											<li><a href="#">防辐射镜片</a></li>
										</ul>
									</div>
								</div>

								<div class="gy-2"><img style="width: 210px; height: 210px;" src="{% static 'img/1482803949414410.jpg' %}"/></div>
							</div>
						</a></li>
						<li class="nav1-7"><a href="#">
							美瞳/隐形</a>
							<div class="gy">
								<div class="gy-1">

									<div class="gy2-1">
										<h3 class="nk-10">商品分类：</h3>
										<ul class="nk-11">
											<li><a href="#">透明隐形眼镜</a></li>
											<li><a href="#">彩色隐形眼镜</a></li>
											<li><a href="#">护理用品</a></li>

										</ul>
									</div>
									<br />
									<div class="gy2-1">
										<h3 class="nk-10">品牌</h3>
										<ul class="nk-11">
											<li><a href="#">博士伦</a></li>
											<li><a href="#">沙福隆</a></li>
											<li><a href="#">爱尔康</a></li>
											<li><a href="#">凯达</a></li>
										</ul>
									</div>
									<br />
									<div class="gy2-1">
										<h3 class="nk-10">价格</h3>
										<ul class="nk-11">
											<li><a href="#"><49元</a></li>
											<li><a href="#">50~99元</a></li>

										</ul>
									</div>
									<br />
									<div class="gy2-1">
										<h3 class="nk-10">功能</h3>
										<ul class="nk-11">
											<li><a href="#">护理液</a></li>
											<li><a href="#">润眼液</a></li>
											<li><a href="#">护理配件</a></li>

										</ul>
									</div>
									<br />
									<div class="gy2-1" style="border: none;">
										<h3 class="nk-10">规格</h3>
										<ul class="nk-11">
											<li><a href="#">促销装</a></li>
											<li><a href="#">大瓶装(500ML)</a></li>
											<li><a href="#">中瓶装(≥250ML)</a></li>
											<li><a href="#">小瓶装(≤240ML)</a></li>
										</ul>
									</div>
								</div>

								<div class="gy-2"><img src="{% static 'img/1507482991013830024.jpg'%}"/></div>
							</div>
						</li>
					</ul>
					<div class="nav-2" style="background: red;">
						<a href="#">
							<img class="img3" src="{% static 'img/影院信息-3D眼镜.png'%}" />
							<span class="g-2">LOHO线下体验店</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	<!--结束-->

	<!--logo轮播图-->
		<div class="lunbo">
			<ul id="list1">
{#				<li><a href="#"><img style="width: 100%; height: 500px;" src="{% static 'img/20170916163153_91818.jpg' %}"/></a></li>#}
{#				<li><a href="#"><img style="width: 100%; height: 500px;" src="{% static 'img/20170911185441_83175.jpg' %}"/></a></li>#}
{#				<li><a href="#"><img style="width: 100%; height: 500px;" src="{% static 'img/20170818150250_63464.jpg' %}"/></a></li>#}
{#				<li><a href="#"><img style="width: 100%; height: 500px;" src="{% static 'img/20170915164204_22747.jpg' %}"/></a></li>#}
			</ul>
			<ul id="list2">
{#				<li class="active">1</li>#}
{#				<li>2</li>#}
{#				<li>3</li>#}
{#				<li>4</li>#}
			</ul>

			<div id="prev"><i class="iconfont" >&#xe605;</i></div>
			<div id="next"><i class="iconfont" >&#xe796;</i></div>

		</div>

		<div class="bg">
			<div class="box1">
				<div class="b-1"><a href="#">LOHO特色</a></div>
				<div class="b-2">
					<ul class="b2-1">
						<li>
							<a href="#"><img src="{% static 'img/1505359680934732.jpg'%}"/></a>
						</li>
						<li>
							<a href="#"><img src="{% static 'img/1500948825562772.jpg' %}"/></a>
						</li>
						<li>
							<a href="#"><img src="{% static 'img/1500948778800632.jpg' %}"/></a>
						</li>
						<li>
							<a href="#"><img src="{% static 'img/1500948731192724.jpg'%}"/></a>
						</li>
					</ul>

					<div class="b2-2">
						<a href="#"><img src="{% static 'img/1498441407736561.jpg' %}"/></a>
					</div>

					<ul class="b2-3">
						<li><a href="#"><img src="{% static 'img/1486612115903782.jpg'%}"/></a></li>
						<li><a href="#"><img src="{% static 'img/1486612115903782.jpg' %}"/></a></li>
					</ul>
				</div>
			</div>

		<!--下面是重复 部分   开始-->
			<div class="box2">
				<div class="bo-1"><a href="#">1F 新品上市</a></div>
				<div class="bo-2">
					<div class="bo2-1">
						<div>
							<a href="#"><img class="bo2-1-2" src="{% static 'img/1483095060594439.jpg' %}"/></a>
							<ul class="bo2-1-1">
								<li><a href="#">太阳眼镜</a></li>
								<li><a href="#">男款眼镜</a></li>
								<li><a href="#">女款眼镜</a></li>
								<li><a href="#">光学眼镜</a></li>
							</ul>
						</div>
						<div>
							<ul class="bo2-1-3">
								<li><a href="#">2017太阳镜，全新上市</a></li>
								<li><a href="#">LOHO轻奢眼镜-α系列</a></li>
								<li><a href="#">都市魅影“active”圆框太阳镜</a></li>
								<li><a href="#">LOHO碳纤维眼镜，全面淘汰钛架</a></li>
								<li><a href="#">LOHO防辐射眼镜，抵御蓝光</a></li>
								<li><a href="#">特殊混合工艺光学镜系列</a></li>
							</ul>
						</div>
						<span class="control">
							<i class="prev">
								<i class="iconfont">&#xe623;</i>
							</i>
							<i class="next">
								<i class="iconfont">&#xe602;</i>
							</i>
						</span>
					</div>
					<div class="bo2-2">
						<a href="#"><img src="{% static 'img/1489829778943400.jpg' %}"/></a>
					</div>
					<div class="bo2-3">
						<ul class="bo2-1-4 bt">
							<li><a href="{% url 'mt:detail' %}"><img src="{% static 'img/1506507493610664.jpg' %}"/></a></li>
							<li><a href="#"><img src="{% static 'img/1506507516457263.jpg' %}"/></a></li>
							<li><a href="#"><img src="{% static 'img/1506507510124942.jpg' %}"/></a></li>
							<li><a href="#"><img src="{% static 'img/1506507503746971.jpg' %}"/></a></li>
						</ul>
					</div>
				</div>
			</div>
		<!--结束	-->

			<div class="box3">
				<div class="bo-1"><a href="#">2F 新品上市</a></div>
				<div class="bo-2">
					<div class="bo2-1">
						<div>
							<a href="#"><img class="bo2-1-2" src="{% static 'img/1501833311124429.jpg' %}"/></a>
							<ul class="bo2-1-1">
								<li><a href="#">板材太阳镜</a></li>
								<li><a href="#">金属太阳镜</a></li>
								<li><a href="#">TR太阳镜</a></li>
								<li><a href="#">钛架太阳镜</a></li>
							</ul>
						</div>
						<div>
							<ul class="bo2-1-3">
								<li><a href="#">高端轻奢α系列-太阳镜</a></li>
								<li><a href="#">近视太阳镜-炎炎夏日 不再妥协</a></li>
								<li><a href="#">2017LOHO太阳镜-“aviators”</a></li>
								<li><a href="#">LOHO年轻时尚太阳镜</a></li>
								<li><a href="#">VINGTANS时尚太阳镜系列</a></li>
								<li><a href="#">偏光太阳镜系列</a></li>
							</ul>
						</div>
						<span class="control">
							<i class="prev">
								<i class="iconfont">&#xe623;</i>
							</i>
							<i class="next">
								<i class="iconfont">&#xe602;</i>
							</i>
						</span>
					</div>
					<div class="bo2-2">
						<a href="#"><img src="{% static 'img/1489829839255824.jpg' %}"/></a>
					</div>
					<div class="bo2-3">
						<ul class="bo2-1-4">
							<li><a href="#"><img src="{% static 'img/1506507735373475.jpg' %}"/></a></li>
							<li><a href="#"><img src="{% static 'img/1506507729735751.jpg' %}"/></a></li>
							<li><a href="#"><img src="{% static 'img/1506507722188155.jpg' %}"/></a></li>
							<li><a href="#"><img src="{% static 'img/1506507716992624.jpg' %}"/></a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="box4">
				<div class="bo-1"><a href="#">3F 碳纤维镜框</a></div>
				<div class="bo-2">
					<div class="bo2-1">
						<div>
							<a href="#"><img class="bo2-1-2" src="{% static 'img/1483095060594439.jpg' %}"/></a>
							<ul class="bo2-1-1">
								<li><a href="#">半框</a></li>
								<li><a href="#">全框</a></li>
								<li><a href="#">方框</a></li>
								<li><a href="#">圆框</a></li>
							</ul>
						</div>
						<div>
							<ul class="bo2-1-3">
								<li><a href="#">女款碳纤维眼镜</a></li>
								<li><a href="#">德国进口碳纤维，质量有保障</a></li>
								<li><a href="#">半框碳纤维眼镜，商务精英优选</a></li>
								<li><a href="#">7.87g重量，超级轻盈</a></li>
								<li><a href="#">碳纤维材质的发展历程</a></li>
								<li><a href="#">热销碳纤维眼镜，超高好评</a></li>
							</ul>
						</div>
						<span class="control">
							<i class="prev">
								<i class="iconfont">&#xe623;</i>
							</i>
							<i class="next">
								<i class="iconfont">&#xe602;</i>
							</i>
						</span>
					</div>
					<div class="bo2-2">
						<a href="#"><img src="{% static 'img/1482803886262425.jpg' %}"/></a>
					</div>
					<div class="bo2-3">
						<ul class="bo2-1-4">
							<li><a href="#"><img src="{% static 'img/1506507557172916.jpg' %}"/></a></li>
							<li><a href="#"><img src="{% static 'img/1506507550376850.jpg' %}"/></a></li>
							<li><a href="#"><img src="{% static 'img/1506507534806816.jpg' %}"/></a></li>
							<li><a href="#"><img src="{% static 'img/1506507542115473.jpg' %}"/></a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="box5">
				<div class="bo-1"><a href="#">4F 板材镜框</a></div>
				<div class="bo-2">
					<div class="bo2-1">
						<div>
							<a href="#"><img class="bo2-1-2" src="{% static 'img/1483095060594439.jpg' %}"/></a>
							<ul class="bo2-1-1">
								<li><a href="#">复古款</a></li>
								<li><a href="#">时尚款</a></li>
								<li><a href="#">极客款</a></li>
								<li><a href="#">经典款</a></li>
							</ul>
						</div>
						<div>
							<ul class="bo2-1-3">
								<li><a href="#">超轻板材，轻装上镜</a></li>
								<li><a href="#">新超薄板材-Thinner&Lighter</a></li>
								<li><a href="#">高端轻奢α系列-板材镜框</a></li>
								<li><a href="#">创意拼接-只为给您舒适的体验</a></li>
								<li><a href="#">GOLDEN TIMES流金岁月-美好 复古</a></li>
								<li><a href="#">VINGTANS板材-潮流年轻 彰显个性</a></li>
							</ul>
						</div>
						<span class="control">
							<i class="prev">
								<i class="iconfont">&#xe623;</i>
							</i>
							<i class="next">
								<i class="iconfont">&#xe602;</i>
							</i>
						</span>
					</div>
					<div class="bo2-2">
						<a href="#"><img src="{% static 'img/1482804146103830.jpg' %}"/></a>
					</div>
					<div class="bo2-3">
						<ul class="bo2-1-4">
							<li><a href="#"><img src="{% static 'img/1506507654107134.jpg' %}"/></a></li>
							<li><a href="#"><img src="{% static 'img/1506507647119879.jpg' %}"/></a></li>
							<li><a href="#"><img src="{% static 'img/1506507641154890.jpg' %}"/></a></li>
							<li><a href="#"><img src="{% static 'img/1506507634925910.jpg' %}"/></a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="box6">
				<div class="bo-1"><a href="#">5F 纯钛镜框</a></div>
				<div class="bo-2">
					<div class="bo2-1">
						<div>
							<a href="#"><img class="bo2-1-2" src="{% static 'img/1483095060594439.jpg' %}"/></a>
							<ul class="bo2-1-1">
								<li><a href="#">圆形脸</a></li>
								<li><a href="#">方形脸</a></li>
								<li><a href="#">椭圆形脸</a></li>
								<li><a href="#">无框</a></li>
							</ul>
						</div>
						<div>
							<ul class="bo2-1-3">
								<li><a href="#">钛然自若 商务典范-钛片系列</a></li>
								<li><a href="#">日本进口钛合金-钛潮系列</a></li>
								<li><a href="#">手工打磨 离子镀膜-钛板系列</a></li>
								<li><a href="#">超高品质 再度升级-钛元素2.0</a></li>
								<li><a href="#">阿尔法钛架 精致高端</a></li>
								<li><a href="#">轻薄舒适-纯钛太阳镜系列</a></li>
							</ul>
						</div>
						<span class="control">
							<i class="prev">
								<i class="iconfont">&#xe623;</i>
							</i>
							<i class="next">
								<i class="iconfont">&#xe602;</i>
							</i>
						</span>
					</div>
					<div class="bo2-2">
						<a href="#"><img src="{% static 'img/1482804202657630.jpg' %}"/></a>
					</div>
					<div class="bo2-3">
						<ul class="bo2-1-4">
							<li><a href="#"><img src="{% static 'img/1506507706213751.jpg' %}"/></a></li>
							<li><a href="#"><img src="{% static 'img/1506507701713922.jpg' %}"/></a></li>
							<li><a href="#"><img src="{% static 'img/1506507693162976.jpg' %}"/></a></li>
							<li><a href="#"><img src="{% static 'img/1506507667496517.jpg' %}"/></a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="box7">
				<div class="bo-1"><a href="#">6F 品牌镜片</a></div>
				<div class="bo-2">
					<div class="bo2-1">
						<div>
							<a href="#"><img class="bo2-1-2" src="{% static 'img/1444204884255352.jpg' %}"/></a>
							<ul class="bo2-1-1">
								<li><a href="#">LOHO</a></li>
								<li><a href="#">依视路</a></li>
								<li><a href="#">蔡司</a></li>

							</ul>
						</div>
						<div>
							<ul class="bo2-1-3">
								<li><a href="#">渐进多焦点镜片-舒适的远中近视觉</a></li>
								<li><a href="#">防辐射镜片-阻隔蓝光 缓解疲劳</a></li>
								<li><a href="#">染色镜片-近视染色片 一镜多用</a></li>
								<li><a href="#">变色镜片-室内室外 一副搞定</a></li>
								<li><a href="#">抗疲劳片-缓解视疲劳 保护眼睛</a></li>
								<li><a href="#">单光片-多层镀膜 高折射率</a></li>
							</ul>
						</div>
						<span class="control">
							<i class="prev">
								<i class="iconfont">&#xe623;</i>
							</i>
							<i class="next">
								<i class="iconfont">&#xe602;</i>
							</i>
						</span>
					</div>
					<div class="bo2-2">
						<a href="#"><img src="{% static 'img/1442195487390197.jpg' %}"/></a>
					</div>
					<div class="bo2-3">
						<ul class="bo2-1-4">
							<li><a href="#"><img src="{% static 'img/1450924489699332.jpg' %}"/></a></li>
							<li><a href="#"><img src="{% static 'img/1450924505810811.jpg' %}"/></a></li>
							<li><a href="#"><img src="{% static 'img/1450924520969115.jpg' %}"/></a></li>
							<li><a href="#"><img src="{% static 'img/1482993102186855.jpg' %}"/></a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="box8">
				<div class="x-1">
					<a href="#"><img src="{% static 'img/1502961222327943.jpg' %}"></a>
				</div>
				<div class="x-2">
					<div>
						<a href="#">全国236家连锁实体店欢迎您！</a>
						<span class="x3-1">
							<img src="{% static 'img/bg3.jpg' %}" />
							<a href="#"> 查找您身边的实体店</a>
						</span>
					</div>
					<div>
						<a href="#"><img src="{% static 'img/dianmianxi.jpg' %}"/></a>
					</div>
				</div>
			</div>

			<div class="box9">
				<div class="o-1">
					<ul class="o1-1">
						<li>商场公告</li>
						<li>最新资讯</li>
					</ul>
					<ul class="o1-2">
						<li><a href="#">721年中大促-依视路1折秒杀获奖名单</a></li>
						<li><a href="#">2017年3月24日-26日LOHO眼镜生活南宁万象</a></li>
						<li><a href="#">2017年3月17日-19日LOHO眼镜生活西安太白</a></li>
						<li><a href="#">2017年2月10日-12日LOHO眼镜生活成都国际</a></li>
						<li><a href="#">2017年2月10日-12日LOHO眼镜生活北京君太</a></li>
						<li><a href="#">2017年2月17日-19日LOHO眼镜生活深圳福田</a></li>
						<li><a href="#">2017年2月17日-19日LOHO眼镜生活成都银石</a></li>
					</ul>
					<!--<ul>
						<li><a href="#">[商城公告] 721年中大促-依视路1折秒杀获...	</a></li>
						<li><a href="#">[商城公告] 2017年3月24日-26日LO...</a></li>
						<li><a href="#">[商城公告] 2017年3月17日-19日LO...	</a></li>
						<li><a href="#">[商城公告] 2017年2月10日-12日LO...	</a></li>
						<li><a href="#">[验光配镜] 屈光参差配镜原则</a></li>
						<li><a href="#">[眼镜导购] 新眼镜佩戴为什么会不适应？</a></li>
						<li><a href="#">[眼镜资讯] Valentino 2017新款...</a></li>
					</ul>-->
				</div>
				<div class="o-2">
					<div class="o2-1">&nbsp; &nbsp; &nbsp;  最新评论</div>
					<ul class="o2-2">
						<li>
							<div><img class="o2-2-1" src="{% static 'img/G_1477266342822425907.jpg' %}" /></div>
							<div>
								<p>lhsj_131******610(2017年10月15日 23:25:52)</p>
								<p>评论： 喜欢 很好看 而且有活动很划算</p>
								<p>标签：</p>
							</div>
						</li>
						<li>
							<div><img class="o2-2-1" src="{% static 'img/1199_thumb_min_G_1423505225674.jpg' %}" /></div>
							<div>
								<p>lhsj_131******610(2017年10月15日 23:25:52)</p>
								<p>评论： 喜欢 很好看 而且有活动很划算</p>
								<p>标签：</p>
							</div>
						</li>
						<li>
							<div><img class="o2-2-1" src="{% static 'img/G_1505427910875044678.jpg'%}" /></div>
							<div>
								<p>lhsj_131******610(2017年10月15日 23:25:52)</p>
								<p>评论： 喜欢 很好看 而且有活动很划算</p>
								<p>标签：</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="o-3">
					<div class="o3-1">&nbsp; &nbsp; &nbsp; 买家show</div>
					<div>
						<a href="#"><img class="o3-2" src="{% static 'img/1431420054640944.jpg' %}"/></a>
					</div>
				</div>
			</div>

			<div class="box10">
				<div class="y-1">
					体验店(目前全国有236家直营体验店)
				</div>
				<div class="y-2">
					<a href="#">
						<img src="{% static 'img/1438394751654589.jpg' %}"/>
						<img style="margin-left: 4px;" src="{% static 'img/1438393917244993.jpg' %}"/>
						<img style="width: 391px; height: 196px;" src="{% static 'img/1461060893485519.jpg' %}"/>
					</a>
				</div>
			</div>

			<div class="box11">
				<div class="k-1">
					<div class="k1-1">
						<dl>
							<dt>深圳</dt>
							<dd><a href="#">怡景中心城店</a></dd>
							<dd><a href="#">南山世界之窗店</a></dd>
							<dd><a href="#">宝安海雅缤纷城店</a></dd>
							<dd><a href="#">福田绿景佐阾虹湾店</a></dd>
							<dd><a href="#">宝安壹方中心店</a></dd>
							<dd><a href="#">怡景中心城店</a></dd>
							<dd><a href="#">怡景中心城店</a></dd>
							<dd><a href="#">怡景中心城店</a></dd>
						</dl>
						<dl>
							<dt>广州</dt>
							<dd><a href="#">怡景中心城店</a></dd>
							<dd><a href="#">南山世界之窗店</a></dd>
							<dd><a href="#">宝安海雅缤纷城店</a></dd>
							<dd><a href="#">福田绿景佐阾虹湾店</a></dd>
							<dd><a href="#">宝安壹方中心店</a></dd>
							<dd><a href="#">怡景中心城店</a></dd>
							<dd><a href="#">怡景中心城店</a></dd>
							<dd><a href="#">怡景中心城店</a></dd>
						</dl>
						<dl>
							<dt>佛山</dt>
							<dd><a href="#">怡景中心城店</a></dd>
							<dd><a href="#">南山世界之窗店</a></dd>
							<dd><a href="#">宝安海雅缤纷城店</a></dd>
							<dd><a href="#">福田绿景佐阾虹湾店</a></dd>
							<dd><a href="#">宝安壹方中心店</a></dd>
							<dd><a href="#">怡景中心城店</a></dd>
							<dd><a href="#">怡景中心城店</a></dd>
							<dd><a href="#">怡景中心城店</a></dd>
						</dl>
						<dl>
							<dt>东莞</dt>
							<dd><a href="#">怡景中心城店</a></dd>
							<dd><a href="#">南山世界之窗店</a></dd>
							<dd><a href="#">宝安海雅缤纷城店</a></dd>
							<dd><a href="#">福田绿景佐阾虹湾店</a></dd>
							<dd><a href="#">宝安壹方中心店</a></dd>
							<dd><a href="#">怡景中心城店</a></dd>
							<dd><a href="#">怡景中心城店</a></dd>
							<dd><a href="#">怡景中心城店</a></dd>
						</dl>
					</div>
				</div>
				<div class="k-2">
					<img style="margin-left: 30px;" src="{% static 'img/1471511231313899.jpg' %}" />
				</div>
				<div class="k-3">
					<ul class="k3-1">
						<li><a href="#">
							<span>+</span>
							<span>查看实体店</span><br />
							&nbsp;&nbsp;<span>View Store</span>
						</a></li>
						<li><a href="#">
							<span>+</span>
							<span>附近交通</span><br />
							&nbsp;&nbsp;<span>Direction</span>
						</a></li>
						<li><a href="#">
							<span>+</span>
							<span>发送店地址到手机</span><br />
							<span>Send To Mobile</span>
						</a></li>
						<li><a href="#">
							<span>+</span>
							<span>营业时间</span><br />
							&nbsp;<span>Business  Hours</span>
						</a></li>
					</ul>
					<div class="k3-2">
						<p class="k4-1" >免费预约直营店验光<br/>BOOKING</p>
					</div>
				</div>
			</div>

			<div class="box12">
				<div class="z-1">
					<ul class="z1-1">
						<li>
							<p class="z1-2"><i class="iconfont">&#xe604;</i><span>线上线下同价</span></p>
							<p class="z1-3">Online Single-Phase & Three-phase</p>
						</li>
						<li>
							<p class="z1-2"><i class="iconfont">&#xe615;</i><span>港式21步验光</span></p>
							<p class="z1-3">Hong Kong Style Step 21 Optomety</p>
						</li>
						<li>
							<p class="z1-2"><i class="iconfont">&#xe607;</i><span>线上预约线下体验</span></p>
							<p class="z1-3">Go Online Booking and Offline Experience</p>
						</li>
						<li>
							<p class="z1-2"><i class="iconfont">&#xe665;</i><span>全国连锁</span></p>
							<p class="z1-3">Across The country Have Chain Stores</p>
						</li>
						<li>
							<p class="z1-2"><i class="iconfont">&#xe603;</i><span>MTC厂家直销</span></p>
							<p class="z1-3">Mtc factory Direct Sales Of Products</p>
						</li>
						<li>
							<p class="z1-2"><i class="iconfont">&#xe62a;</i>
							<span>互联网药品信息服务资格证书</span>
							<!--<span>证号:（粤）经营性20150019</span>-->
							</p>
							<p class="z1-3">InternetDrugInformationServiceQualification</p>
						</li>
						<li>
							<p class="z1-2"><i class="iconfont">&#xe61d;</i>
							<span>医疗器械许可证</span>
							<span>粤SZ10484</span>
							</p>
							<p class="z1-3">The company Has Medical Device License</p>
						</li>
						<li>
							<p class="z1-2"><i class="iconfont">&#xe606;</i><span>国内O2O配镜电商</span></p>
							<p class="z1-3">The Best O2O Glasses Company In China</p>
						</li>

					</ul>
				</div>
				<div class="z-2">
					因可能存在系统缓存、页面更新导致价格变动异常等不确定性情况出现，如您发现活动商品标价或促销信息有异常，请您立即联系我们，以便我们及时补正。
				</div>
				<div class="z-3">
					<p class="z3-1">
						<span><i class="iconfont">&#xe607;</i> LOHO眼镜生活在全国已有实体体验店<span class="z3-1-1">236</span>家</span>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<span><i class="iconfont">&#xe637;</i> 客服电话：<span class="z3-1-2">400-887-1920</span> <span class="z3-1-3">09:00-23:00(周一至周日)</span></span>
					</p>
					<div class="z3-2">
						<ul>
							<li><a href="#">关于LOHO</a></li>
							<li><a href="#">公司简介</a></li>
							<li><a href="#">媒体报道</a></li>
							<li><a href="#">诚聘英才</a></li>
						</ul>
						<ul>
							<li><a href="#">新手指南</a></li>
							<li><a href="#">会员特权</a></li>
							<li><a href="#">购物流程</a></li>
							<li><a href="#">常见问题</a></li>
						</ul>
						<ul>
							<li><a href="#">配眼镜指南</a></li>
							<li><a href="#">读懂验光单</a></li>
							<li><a href="#">镜架保养</a></li>
							<li><a href="#">度数换算</a></li>
						</ul>
						<ul>
							<li><a href="#">配送与支付</a></li>
							<li><a href="#">发票抬头</a></li>
							<li><a href="#">配送时效</a></li>
							<li><a href="#">支付方式</a></li>
						</ul>
						<ul>
							<li><a href="#">服务保证</a></li>
							<li><a href="#">三包细则</a></li>
							<li><a href="#">申请退款</a></li>
							<li><a href="#">发票说明</a></li>
						</ul>
						<ul>
							<li><a href="#">联系我们</a></li>
							<li><a href="#">客服中心</a></li>
							<li><a href="#">免责声明</a></li>
							<li><a href="#">投诉与建议</a></li>
						</ul>
						<ul class="z3-2-1">
							<li class="z3-2-2" style="height: 100px;width: 100px; background: #fff;">
								<img style="width: 90px; height: 90px; margin: 5px;" src="{% static 'img/QRcode.png' %}" />
							</li>
							<li class="z3-2-3">关注LOHO官方微信</li>
						</ul>
					</div>
				</div>
				<div class="z-4">
					<ul class="z4-1">
						<li><a href="#">友情链接:</a></li>
						<li><a href="#">白酒招商</a></li>
						<li><a href="#">53货源网</a></li>
						<li><a href="#">食品招商</a></li>
						<li><a href="#">珠宝加盟</a></li>
						<li><a href="#">DR戒指</a></li>
						<li><a href="#">日本代购</a></li>
						<li><a href="#">女装批发</a></li>
						<li><a href="#">音平商城</a></li>
						<li><a href="#">结婚钻戒</a></li>
						<li><a href="#">欧宝丽珠宝</a></li>
						<li><a href="#">返利网</a></li>
						<li><a href="#">淘狗网</a></li>
						<li><a href="#">缅甸翡翠</a></li>
						<li><a href="#">网上购物</a></li>
						<li><a href="#">特步休闲鞋</a></li>
						<li><a href="#">村安商城</a></li>
						<li><a href="#">创业开店</a></li>
						<li><a href="#">钻石</a></li>
						<li><a href="#">海外代购</a></li>
						<li><a href="#">鲜花网</a></li>
						<li><a href="#">优品惠官方网站</a></li>
						<li><a href="#">车发发</a></li>
						<li><a href="#">牌子网</a></li>
						<li><a href="#">中国眼镜网</a></li>
						<li><a href="#">批发网</a></li>
						<li><a href="#">申请友情链接</a></li>

					</ul>
				</div>
				<div class="z-5">
					<p class="z5-1">
						<img style="width: 52px; height: 55px;" src="{% static 'img/loho_87.jpg' %}" />
						<img style="width: 46px; height: 55px;" src="{% static 'img/loho_88.jpg' %}" />
						<img style="width: 56px; height: 55px;" src="{% static 'img/loho_89.jpg' %}" />
						<img style="width: 94px; height: 55px;" src="{% static 'img/loho_90.jpg' %}" />
						<img style="width: 93px; height: 55px;" src="{% static 'img/loho_92.jpg' %}" />
					</p>
					<p class="z5-2"><span>ICP备案证书号</span><span>:粤ICP备11106081号</span></p>
					<p class="z5-2">© 2005-2017 深圳市乐活电子商务有限公司-时尚眼镜品牌 版权所有，并保留所有权利。</p>
					<p class="z5-2">公司地址：深圳市福田区彩田路彩虹新都彩虹大厦29B</p>
				</div>
				<div class="z-6">
					网站地图 友情链接 ERP系统
				</div>

			</div>

		</div>

		<img class="dingwei" style="position: absolute; right: 0; top:30%;" src="{% static 'img/dinwei.jpg' %}" />

	</body>
</html>