body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, 
form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
ul li{
	list-style: none; text-decoration: none;
}
body{
	font-size: 12px; width: 100%;
}
a{
	text-decoration: none;
}

.clearfix:after{content:"."; display:block; height:0; 
	clear:both; font-size: 0; overflow: hidden; visibility: hidden; 
}